
<div>
    <table>
    <tbody>
        <tr>
            <th>{{ localize "emberwind.ActionsName"}}</th>
            <th>{{ localize "emberwind.ActionsType" }}</th>
            <th>{{ localize "emberwind.ActionsTarget" }}</th>
            <th>{{ localize "emberwind.ActionsRange" }}</th>
            <th>{{ localize "emberwind.ActionsEffect" }}</th>
            <th>{{ localize "emberwind.ActionsSpeed" }}</th>
        </tr>
        <tr>
            <td><h3>{{ localize "emberwind.ActionsMovement" }}</h3></td>
            <td>{{ localize "emberwind.ActionsMovementNote" }}</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Move Action</td>
            <td></td>
            <td></td>
            <td></td>
            <td>Move 1 - 5 Squares. Can move through friendly Combatants.</td>
            <td>Slow</td>
        </tr>
        <tr>
            <td>Shift Action</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>Move 1 Square. Can move through friendly Combatants.</td>
            <td>Fast</td>
        </tr>
        <tr>
            <td><h3>{{ localize "emberwind.ActionsManeuver" }}</h3></td>
            <td>{{ localize "emberwind.ActionsManeuverNote" }}</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Tumble</td>
            <td></td>
            <td></td>
            <td></td>
            <td>Move 1-3 Squares. Can move through any Combatant.</td>
            <td>Slow</td>
        </tr>
        <tr>
            <td><h3>{{ localize "emberwind.ActionsBasic" }}</h3></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Mace [2H]</td>
            <td>Melee</td>
            <td>1 Foe</td>
            <td>1</td>
            <td>2d12 VS Shield</td>
            <td>Slow</td>
        </tr>
        <tr>
            <td>Crossbow</td>
            <td>Ranged</td>
            <td>1 Foe</td>
            <td>5</td>
            <td>2d8 VS Shield</td>
            <td>Slow</td>
        </tr>
    </tbody>
    </table>
</div>