
<div>
    <table>
    <tbody>
        <tr>
            <th>{{ localize "emberwind.ActionsName"}}</th>
            <th>{{ localize "emberwind.ActionsType" }}</th>
            <th>{{ localize "emberwind.ActionsTarget" }}</th>
            <th>{{ localize "emberwind.ActionsRange" }}</th>
            <th>{{ localize "emberwind.ActionsEffect" }}</th>
            <th>{{ localize "emberwind.ActionsSpeed" }}</th>
        </tr>
        <tr>
            <td><h5>{{ localize "emberwind.ActionsMovement" }}</h5></td>
            <td>{{ localize "emberwind.ActionsMovementNote" }}</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Move Action</td>
            <td></td>
            <td></td>
            <td></td>
            <td>Move 1 - 5 Squares. Can move through friendly Combatants.</td>
            <td>Slow</td>
        </tr>
        <tr>
            <td>Shift Action</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>Move 1 Square. Can move through friendly Combatants.</td>
            <td>Fast</td>
        </tr>
        <tr>
            <td><h5>{{ localize "emberwind.ActionsManeuver" }}</h5></td>
            <td>{{ localize "emberwind.ActionsManeuverNote" }}</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
    </table>
</div>