
<div>
    <table>
    <tbody>
        <tr>
            <th>{{ localize "emberwind.ActionsName"}}</th>
            <th>{{ localize "emberwind.ActionsType" }}</th>
            <th>{{ localize "emberwind.ActionsTarget" }}</th>
            <th>{{ localize "emberwind.ActionsRange" }}</th>
            <th>{{ localize "emberwind.ActionsEffect" }}</th>
            <th>{{ localize "emberwind.ActionsSpeed" }}</th>
        </tr>
        <tr>
            <td><h3>{{ localize "emberwind.ActionsMovement" }}</h3></td>
            <td>{{ localize "emberwind.ActionsMovementNote" }}</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Move Action</td>
            <td></td>
            <td></td>
            <td></td>
            <td>Move 1 - 5 Squares. Can move through friendly Combatants.</td>
            <td>Slow</td>
        </tr>
        <tr>
            <td>Shift Action</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>Move 1 Square. Can move through friendly Combatants.</td>
            <td>Fast</td>
        </tr>
        <tr>
            <td><h3>{{ localize "emberwind.ActionsManeuver" }}</h3></td>
            <td>{{ localize "emberwind.ActionsManeuverNote" }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Tumble</td>
            <td></td>
            <td></td>
            <td></td>
            <td>Move 1-3 Squares. Can move through any Combatant.</td>
            <td>Slow</td>
        </tr>
        <tr>
            <td><h3>{{ localize "emberwind.ActionsBasic" }}</h3></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Mace [2H]</td>
            <td>Melee</td>
            <td>1 Foe</td>
            <td>1</td>
            <td>2d12 VS Shield</td>
            <td>Slow</td>
        </tr>
        <tr>
            <td>Crossbow</td>
            <td>Ranged</td>
            <td>1 Foe</td>
            <td>5</td>
            <td>2d8 VS Shield</td>
            <td>Slow</td>
        </tr>
        <tr>
            <td><h3>{{ localize "emberwind.ActionsClass" }}</h3></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Tide of Iron</td>
            <td>Amplify <hr style="width:20px"> Exploit</td>
            <td>1 Melee Action</td>
            <td>Melee <hr style="width:20px"> Weapon Range </td>
            <td><em>Amp. Effect:</em> When you Hit 1 or more Foe(s) with a Melee Action, knock 1
of those Foes. <em><b>Prone</b></em></td>
            <td>Fast</td>
        </tr>
        <tr>
            <td>Arc Impulse</td>
            <td>Sustain <hr style="width:20px"> Spell</td>
            <td>Self</td>
            <td> - </td>
            <td> The next time you Hit with a Melee Action, +1 use of <em>Lightning Spire</em> or <em>White Lightning</em> until the start of your next Turn. <em>Sust. Effect:</em> Repeat Effect</td>
            <td>Slow</td>
        </tr>
        <tr>
            <td>Blitzbolt</td>
            <td>General <hr style="width:20px"> Spell</td>
            <td>1 Foe</td>
            <td> Ranged <hr style="width:20px"> 7  </td>
            <td> 1d12 Damage vs. Resistance. <em>Amp. Effect:</em> Expend 1 Fast Action to Teleport to an unoccupied Square adjacent to Hit Foe.</td>
            <td>Slow</td>
        </tr>
    </tbody>
    </table>
</div>