<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        {{!-- Header stuff goes here --}}
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" style="height: auto; max-width: 30%;"/>
        <div class="header-fields" style="max-width: 30%;">
            <div>
                <label for="name">{{ localize "emberwind.InfoName" }}</label>
                <h1 class="charname">
                    <input id="name" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
                </h1>
            </div>
            <div class="resources grid grid-2col">
                <label for="hp">{{ localize "emberwind.InfoHP" }}</label>
              <input id="hp" type="text" name="data.info.hp.value" value="{{data.info.hp.value}}" data-dtype="Number"/>
            </div>
            <div class="abilities grid grid-3col">{{!-- abilities here --}} I'm an ability</div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
        <nav style="max-width: 60%;" class="sheet-tabs tabs" data-group="primary">
            <a class="item active" data-tab="actions">{{ localize "emberwind.Actions" }}</a>
            <a class="item" data-tab="inventory">{{ localize "emberwind.Inventory"}}</a>
            <a class="item" data-tab="bio">{{ localize "emberwind.Bio"}}</a>
            <a class="item" data-tab="conditions">{{ localize "emberwind.Conditions"}}</a>
        </nav>
        

    {{!-- Sheet Body --}}
    <section class="primary-body">
        {{!-- Tab Content --}}
        {{!-- Actions --}}
        
        {{!-- <div class="tab actions flexcol" data-group="primary-tabs" data-tab="actions">
            <div class="header-summary flexcol"> --}}
                Fixed content for tab {{actions}}<br>
            {{> "systems/emberwind-system/templates/sheets/components/hero-actions.hbs" this}}
            </div>
        {{!-- </div> --}}
        

        {{!-- Inventory --}}
        
        <div class="tab inventory flexcol" data-group="primary-tabs" data-tab="inventory">
            Fixed content for tab {{inventory}}<br>
            {{{content}}}
        </div>
        

        {{!-- Bio --}}
        
        {{!-- <div class="tab bio flexcol" data-group="primary-tabs" data-tab="bio">
             Fixed content for tab {{bio}}<br> --}}
            <div style="max-width: 60%;">
                <h3>{{ localize "emberwind.Appearance" }}</h3>
                <h3>{{ localize "emberwind.Description" }}</h3>
                <input id="description" type="text" />
                <h3>{{ localize "emberwind.History" }}</h3>
                <input id="history" type="text" />
            </div>
            <div style="max-width: 30%;">
                <h3>{{ localize "emberwind.Anchors" }}</h3>
                <input type="text"/>
                <input type="text"/>
                <input type="text"/>
                <h3>{{ localize "emberwind.Deadweights"}}</h3>
                <input type="text"/>
                <input type="text"/>
                <input type="text"/>
            </div>
        
        {{!-- </div> --}}
        
        {{!-- Conditions --}}
        
        <div class="tab conditions flexcol" data-group="primary-tabs" data-tab="conditions">
            Fixed content for tab {{conditions}}<br>
        </div>
    
    </section>
</form>
